/.vscode
/1TO100LOOP.C
/1TO100LOOP.exe
/3numgreatest.c
/3numgreatest.exe
/3sides.c
/3sides.exe
/add.c
/add.exe
/ap.c
/ap.exe
/areaofcircle.c
/areaofcircle.exe
/divby5_3.c
/divby5_3.exe
/even.c
/even.exe
/findrem.c
/findrem.exe
/floaattoint.c
/floaattoint.exe
/float.c
/float.exe
/gp.c
/gp.exe
/hello.c
/hello.exe
/leap.c
/leap.exe
/loopwap.c
/modulsu.c
/modulsu.exe
/neg.c
/neg.exe
/percentage.c
/percentage.exe
/prijmeot not.c
/prijmeot not.exe
/printevennos only.c
/printevennos only.exe
/ques.c
/ques.exe
/sumoftwo.c
/sumoftwo.exe
/tableof19.c
/tableof19.exe
/volume.c
/volume.exe
/x--.c
/x--.exe